.text {
    color: white;
    text-shadow: none;
    font-size: 14px;
}

h2 {
    color: white;
    text-shadow: none;
}
h2.pink{

    color: #ff3366;
}

h3{color:white;
text-shadow: none;
}

.content_background {
    background: url(../images/content_background.png) repeat;
}

.specials_text {
    color: white;
    text-shadow: none;
    font-size: 14px;
    vertical-align: top;
    padding-left: 5px;
}

.over21 {
    color: white;
    font-size: 16px;
    font-style: italic;
}
.upcoming_event{

    display:inline-block;
    color:white;
    font-size: 13px;
}
.upcoming_shows{
    display: inline-block;
}
.band_more_links{
    height: 41px;
    width: 195px;
    background-image: url(/images/band_links_background.png);
    padding-top: 25px;
    padding-left: 10px;
}
.calendar_icon{
    display: inline-block;
    width:36px;
    height:33px;
    line-height:37px;
    font-size:12pt;
    color:black;
    font-weight: bold;
    background-image:url(/images/CalendarIcon.png);
    text-align:center;
    background-repeat: no-repeat;
}

div.show_categories{
    background-image: url(/images/ButtonBG.png);
    height:60px;
    border: 1px solid black;
    text-align: center;
}
a.featuredButton.ui-link,
a.featuredButton.ui-link:hover,
a.featuredButton.ui-link:visited,
a.featuredButton.ui-link:active

{
    display: inline-block;
    width:87px;
    height:40px;
    line-height: 40px;
    color:white;
    font-size: 14px;
    text-align: center;
    background-image: url(/images/FeaturedButton.png);
    margin:10px 3px;
    text-shadow: none;
    text-decoration: none;
    font-weight:normal;
}
a.featuredButtonActive.ui-link,
a.featuredButtonActive.ui-link:hover,
a.featuredButtonActive.ui-link:visited,
a.featuredButtonActive.ui-link:active

{

    background-image: url(/images/FeaturedButtonActive.png);
    display: inline-block;
    width:87px;
    height:40px;
    line-height: 40px;
    color:white;
    font-size: 14px;
    text-align: center;
    margin:10px 5px;
    text-shadow: none;
    text-decoration: none;
    font-weight: normal;
}
td.band_photo img{
border: 1px solid white;
}

#link{
    color: white;
}

.footer_text {
    font-size: 11px;
}

.content {
    padding: 0 15px 50px 5px;
}

.divider {
    border-bottom: 1px solid white;
    height: 1px;
}

.genre{
    color: #ff3366;
    text-shadow: none;
}
.more_about{

    color:white;
}
.band_link{

    color: #ff3366;
    text-shadow: none;
}
.band_link_photo{
    border:1px solid white;
}


.band_photo_small{
    display: inline-block;
    width:60px;
    margin-right: 15px;
}

.band_photo_small a img{
    max-width: 100%;
}
#menu {
    width: 100%;
    height: 100%;
}

#tikly {
    background-image: url("../images/tikly.png");
    height: 55px;
    width: 105px;
    float: left;
    display: block;
}

#free {
    background-image: url("../images/free.png");
    height: 55px;
    width: 105px;
    float: left;
}

#video {
    background-image: url("../images/video.png");
    height: 55px;
    width: 82px;
    margin-left: 105px;
    display: block;
}
.facebook_link img{
    display:inline-block;
    width:25px;
    height:25px;
}
.twitter_link img{
    display:inline-block;
    width:25px;
    height:25px;
}
#home_content{
    color:white;
    text-shadow: none;
}

.ui-page{
    background-position: 0 100px;
}

